<main>
  <div class="container py-5">
    <div class="row g-4">

      <!-- Loop over every product from products.json  -->
      {{#each products}}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100 text-center">
          <img src="{{image}}" class="card-img-top img-fluid" alt="{{name}}">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="price">€{{price}}</p>
            <p class="product-desc">{{description}}</p>
            <a href="#" id="addtocart{{id}}" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</main>

<script src="/custom-js/shop.js"></script>
